<div>
    <ul>
        <li>Argumentos de entrada: <%= info.arg %></li>
        <li>Nombre de la plataforma (sistema operativo): <%= info.so %></li>
        <li>Versión de node.js: <%= info.nodeVersion %></li>
        <li>Memoria total reservada (rss): <%= info.rss %></li>
        <li>Path de ejecución: <%= info.path %></li>
        <li>Process id: <%= info.processId %></li>
        <li>Carpeta del proyecto: <%= info.folder %></li>
        <li>Cantidad de Procesadores: <%= info.cantCPUs %></li>
    </ul>
</div>